@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@if (ViewBag.Title != null ) { @ViewBag.Title } else {<text>GDP - Gerenciamento de Projetos</text> }</title>
    <script src="//use.edgefonts.net/league-gothic.js"></script>
    @Styles.Render("~/bundles/commonStyles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">&nbsp;</a>
                <ul class="nav">
                    <li><a href="/page/viabilidade" class="uma-linha">Viabilidade</a></li>
                    <li><a href="/page/estudos-preliminares">Estudos<br> Preliminares</a></li>
                    <li><a href="/page/projeto-basico">Projeto<br> Básico</a></li>
                    <li><a href="/page/projeto-executivo">Projeto<br> Executivo</a></li>
                    <li><a href="/page/consultoria" class="uma-linha">Consultoria</a></li>
                    <li><a href="/page/arquitetura-de-processo">Arquitetura<br> de Processo</a></li>
                    <li><a href="/page/gerenciamento-projetos" class="uma-linha">Gerenciamento</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container container" >
        @RenderBody()
    </div>

    <div class="footer">
        <div class="container clearfix">
            <div class="row">
                <div class="span4">
                    <img src="@Url.Content("~/Content/images/logo.png")" alt="GDP">

                    <div class="contact-info">
                        Av. Treze de Maio, 15 / 1414<br>
                        Centro - Rio de Janeiro<br>
                        <i class="icon-phone"></i> (21) 3684-8869
                    </div>
                </div>
                <div class="span8">
                    <h3 class="page-title">Contato</h3>

                    <form id="form-contato" action="@Url.Action("Contact","Home")" method="POST">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="span6">                                                    
                                <input type="text" required class="span6 input-contato" name="Name" placeholder="Nome ou Empresa">
                                <input type="email" required class="span6 input-contato" name="Email" placeholder="Email para contato" >
                                <textarea rows="5" class="span6 input-contato" name="Message" placeholder="Mensagem"></textarea>                        
                            </div>
                            <div class="span1">
                                <button type="submit" class="enviar-contato">Enviar</button>
                            </div>
                        </div>
                    </form>
                    
                    <div id="modal-contato" class="modal fade hide" role="dialog" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>Contato enviado!</h3>
                        </div>
                        <div class="modal-body">
                        <p>Em breve estaremos entrando em contato com você!</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @Scripts.Render("~/bundles/app")
    @RenderSection("Scripts", false)
</body>
</html>
